/MembershipAdministration/MembershipAdministration.suo
/MembershipAdministration/MembershipAdministration/obj
/MembershipAdministration/MembershipAdministration/bin
/AutenthicationAuthorization/bin
/AutenthicationAuthorization/obj
/MembershipAdministration/packages
