<hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
  <session-factory name="NHibernate.Test.Oracle">
    <property name="connection.driver_class">NHibernate.Driver.OracleClientDriver</property>
    <property name="connection.connection_string_name">AuthenticationConnectionOracle</property>
    <property name="show_sql">update</property>
    <property name="dialect">NHibernate.Dialect.Oracle10gDialect</property>
    <property name="proxyfactory.factory_class">NHibernate.ByteCode.LinFu.ProxyFactoryFactory, NHibernate.ByteCode.LinFu</property>
    <!-- Create Database -->
    <property name="hbm2ddl.auto">create</property>
    <property name="current_session_context_class">web</property>
    <mapping assembly="AutenthicationAuthorization" />
  </session-factory>
</hibernate-configuration>