<hibernate-configuration  xmlns="urn:nhibernate-configuration-2.2" >
  <session-factory name="NHibernate.Test">
    <property name="connection.driver_class">NHibernate.Driver.MySqlDataDriver</property>
    <property name="connection.connection_string_name">
      AuthenticationConnectionMySql
    </property>
    <property name="dialect">NHibernate.Dialect.MySQLDialect</property>
    <!-- Create Database -->
    <property name="hbm2ddl.auto">create</property>
    <property name="current_session_context_class">web</property>
    <mapping assembly="AutenthicationAuthorization" />

  </session-factory>
</hibernate-configuration>