<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate"/>
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
    <add name="AuthenticationConnection" connectionString="User ID=eduardo;Password=eduardo;Data Source=.\SQLExpress; Initial Catalog=Teste"/>
    <add name="AuthenticationConnectionOracle" connectionString="User ID=sgap_eduardo;Password=sgap_eduardo;Data Source=serv225.corp.eldorado.org.br"/>
    <add name="AuthenticationConnectionMySql" connectionString="Server=localhost;Database=Teste;User ID=eduardo;Password=eduardo"/>
  </connectionStrings>

  <log4net>
    <logger name="PortalIndicadores-Error">
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
    </logger>
    <logger name="NHibernate.SQL" additivity="false">
      <level value="DEBUG" />
      <appender-ref ref="WindowsDebugOutput" />
    </logger>
    <logger name="NHibernate" additivity="false">
      <level value="ALL" />
      <appender-ref ref=" LogFileAppender" />
    </logger>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="c:\LogCustomMembership\Log-" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="25" />
      <maximumFileSize value="20MB" />
      <datePattern value="yyyy-MM-dd'.log'" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
  </log4net>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Forms" />
    <authorization>
      <deny users="?" />
    </authorization>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <namespaces>
        <add namespace="System.Data"/>
        <add namespace="System.Data.SqlClient"/>
        <add namespace="System.IO"/>
      </namespaces>
    </pages>

    <membership defaultProvider="CustomMembershipProvider">
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="AuthenticationConnection"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />

        <add name="CustomMembershipProvider" type="AutenthicationAuthorization.CustomMembership.CustomMembershipProvider" connectionStringName="AuthenticationConnection"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" passwordFormat="Encrypted"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="CustomMembershipApplicationName" />
      </providers>
    </membership>

    <!-- 
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="AuthenticationConnection" applicationName="/"/>
      </providers>
    </profile>
    -->

    <roleManager enabled="true" defaultProvider="CustomRoleProvider">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="AuthenticationConnection" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />

        <add name="CustomRoleProvider" type="AutenthicationAuthorization.CustomMembership.CustomRoleProvider" connectionStringName="AuthenticationConnection" applicationName="CustomMembershipApplicationName" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>
